@page "/dropdown"

@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]



<select id="example-getting-started" multiple="multiple">
    <option value="cheese">Cheese</option>
    <option value="tomatoes">Tomatoes</option>
    <option value="mozarella">Mozzarella</option>
    <option value="mushrooms">Mushrooms</option>
    <option value="pepperoni">Pepperoni</option>
    <option value="onions">Onions</option>
</select>





@code {
    protected async override Task OnInitializedAsync()
    {
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("GetMultiSelect");

            StateHasChanged();
        }


    }
}
