@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        <div class="top-row px-4 auth">
            <a style="position:fixed;top:4px; left:0;" href=""><img src="Parcell2.ico" width=90></a>
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
