@page "/"
<body>
    <link rel="stylesheet" type="text/css" href="/css/Landing.css" />
    <div class="container">
        <img src="/images/background.png"/>
        <button class="btn" type="button" onclick="location.href = 'buyswap';">Start Parcelling Today</button>
    </div>

</body>
<footer style="text-align:center;">
    <p>Made by<br />Gerald Chong<br />Lee Jian Hong</p>
    <p>FullStack Dev</p>
</footer>
@* Landing page / Homepage when you just enter the url *@