@model Parcell.Shared.Domain.Swap

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Swap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SStatus" /> @Html.DisplayNameFor(model => model.SStatus)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PStatus" /> @Html.DisplayNameFor(model => model.PStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="S_username" class="control-label"></label>
                <input asp-for="S_username" class="form-control" />
                <span asp-validation-for="S_username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SProduct_id" class="control-label"></label>
                <input asp-for="SProduct_id" class="form-control" />
                <span asp-validation-for="SProduct_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P_username" class="control-label"></label>
                <input asp-for="P_username" class="form-control" />
                <span asp-validation-for="P_username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PProduct_id" class="control-label"></label>
                <input asp-for="PProduct_id" class="form-control" />
                <span asp-validation-for="PProduct_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
